aside{
    padding: 35px;
    display: inline-block;
    width: 396px;
    position: relative;
    top:-90px;
}

aside .article{
    width: 396px;
}

#girl{
    margin-bottom: 14px;
    margin-top: -500px;
}

#art2{
    background: #F2F2F2;
    border-radius: 4px;
    margin-top: 12px;
    padding-top: 46px;
    padding-bottom: 32px;
}

#art2 ul li{
    list-style-image: url(../images/li.svg);
    margin-left: 27px;
}

#art2 ul li:hover{
    cursor: pointer;
}

.container{
    max-width: 1160px;
    min-width: 1160px;
}

footer{
    background: #4757A0;
    position: relative;
    padding: 26px 0;
    margin-top: 50px;
    width: 1440px;
}

#bowl{
    position: absolute;
    right: 0px;
    top: -112px;
}

#lapa{
    position: absolute;
    right: 0px;
    top: -175px;  
}

footer p{
    margin-left: 33px;
    line-height: 16px;
    color: #FFFFFF;
}