@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&display=swap');
@import url(header.css);
@import url(article.css);
@import url(aside-footer.css);

*{
    margin: 0px;
    padding: 0px; 
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}



    

























