/* footer */

footer{
    background: #282C3F;
    padding: 82px 0 92px;
}

footer .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.bottom-logo-text-footer{
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2.5px;
    color: #FCFCFC;
    margin-top: -7px;
}

.copyrigh{
    font-size: 14px;
    line-height: 163.35%;
    color: #FCFCFC;
}